$primary-color: #3F51B5;
$text-color-light: #FFFFFF;
$text-color-hover: #FFC107;
$text-default-size: 13px;
$text-size-title: 20px;


.navbar {
    position: sticky;
    display: flex;
    top: 0;
    width: 100%;
    background-color: $primary-color;
    padding: 0;
    height: 8vh;
    
    /** Title App **/
    .app_name {
        color: $text-color-light;
        font-size: $text-size-title;
        font-weight: bold;
    }

    /** List of tabs **/
    ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    /** Tabs style normal and hover **/
    .tabs_style {
        color: $text-color-light;
        margin-right: 30px;
        margin-left: 1rem;
    }

    .tabs_style:hover {
        color: $text-color-hover;
        font-weight: bold;
        text-decoration: none;
      }
}
