$border-box-color: #5E5959;
$shadow-color: #5E5959;
$button-color: #FF5722;
$text-default-size: 13px;
$text-size-title: 20px;

.cards {
  
  .cards-content{
    display: block;
    box-sizing: border-box;
    border: 2px solid $border-box-color;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin: 2%;
    box-shadow: 0 4px 8px 0 $shadow-color;
    transition: 0.3s;
    float: left;
    text-align: left;
    
    &:hover{
      transform: scale(1.1);
      box-shadow: 5px 5px 15px 8px $shadow-color;
    }

    .cards-content-text{
      margin: 10%;

      span{
        font-weight: bold;
      }
    }

    .button{
      margin-left: 23%;
      background-color: $button-color;
      border-color: $button-color;
    }

  }
}



