.rotate {
    width: 300px;
    height: 300px;
}

@media (prefers-reduced-motion: no-preference) {
    .rotate {
      animation: App-logo-spin infinite 20s linear;
    }
  }

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

  
